
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://127.0.0.1:3000/go">Query</a></li>
                <li><a href="http://127.0.0.1:3000/metrics">Model Metrics</a></li>   
                <li><a href="http://127.0.0.1:3000/about">About</a></li>    
                <li><a href="https://github.com/rolly9992/Project2">GitHub Repo (external)</a></li>                       
                   

            </ul>
        </div>
    </div>
</nav>




<p style="margin-left: 2.5em;margin-right: 2.5em;margin-top: 10.0em"> 
My name is Rob and I've worked in Data Analytics for over 10 years. What is interesting about working in data is
that there is always plenty to learn. Effectively one has to commit to being a lifelong student. 
</p>

<p style="margin-left: 2.5em;margin-right: 2.5em"> This was my first attempt at building a website. HTML, CSS, Plotly, Bootstrap and Flask were all new to me, despite
using python for nearly a decade. There is quite a bit involved. In a way, it felt like learning chess for the first time, 
trying to get everything to work together as a team. And frankly, there is room for improvement. But, you have to start somewhere! 
</p>


<p style="margin-left: 2.5em;margin-right: 2.5em"> After doing this project I see that this is only a starting point, not the end. In addition, now I see how much of an 
important challenge this is, trying to filter text to the proper emergency channels. 
</p>



</body>
</html>